@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('highlight.jpg') no-repeat center;
    background-size: cover;
    
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-box {
    position: relative;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 0 10px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    line-height: 40px;
}

.check {
    margin: 15px 0;
    font-size: .9rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.check label input {
    margin-right: 5px;
}

.check a {
    color: #fff;
    text-decoration: none;
}

.check a:hover {
    text-decoration: underline;
}

.register {
    font-size: .9rem;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

.register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .login-box {
        width: 100%;
        padding: 20px;
    }
}
